button {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

button[hidden] {
  display: none;
}

/* Hovered layer */
button::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 0.5rem;
    pointer-events: none;

    opacity: 0;
    transition: opacity 0.3s;
}

button.hidden::after{
    display: none;
}

button > span{
    position: relative;
    z-index: 1;
}

.button-primary {
    background-color: var(--background-brand);
    color: var(--text-onbrand);
}

.button-solid {
    background-color: var(--background-inversed);
    color: var(--text-oninverse);
}

.button-solid:hover::after {
    background-color: var(--background-hovered-inversed);
    opacity: 0.12;
}

.button-primary:hover::after{
    background-color: var(--background-hovered);
    opacity: 0.25;
}

.button-text{
    background: none;
}

.button-text:hover::after{
    background-color: var(--background-hovered);
    opacity: 0.12;
}